.wrap_sub{ position: relative; padding-top: 434px; }
.wrap_list{ position: relative; min-height: 500px; width: 1140px; margin: 0 auto; padding-bottom: 200px; background: #FFF; z-index: 1; }
.wrap_list:before{ content: ""; position: absolute; top: -255px; left: 0px; width: 1184px; height: 255px; background: url(../images/cover230301/wrap_list.png) no-repeat 0 0; }

/*列表页*/
.list_cont{ width: 1056px; margin: 0 auto; padding-top: 67px; display: flex; flex-wrap: wrap; }
.list_item{ width: 320px; height: 300px; margin: 0 16px 50px 16px; }
.list_item img{ display: block; width: 320px; height: 180px; }
.list_item dl{ margin-top: 30px; line-height: 30px; font-size: 18px; }
.list_item dt{ font-weight: bold; }
.list_item dd{ display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; }
.list_item dl a{ color: #000; }
.page{ margin-top: 65px; font-size: 18px; color: #000; }
.page a{ display: inline-block; width: 33px; height: 33px; line-height: 33px; text-align: center; margin: 0 5px; border: 1px solid #000; }

/*文章页*/
.article_cont{ width: 1024px; margin: 0 auto; padding-top: 80px; }
.article_date{ margin-bottom: 20px; font-size: 18px; color: #4a4a4a; }
.article_tit{ margin-bottom: 35px; line-height: 48px; font-size: 36px; }
.article_text{ line-height: 30px; font-size: 18px; }
.article_text img{ max-width: 100%; }
.go_back{ position: fixed; bottom: 170px; left: 50%; margin-left: 600px; width: 132px; height: 132px; background: url(../images/cover230301/go_back.png) no-repeat 0 0; z-index: 2; }


.newsTabs{width: 570px; height: 125px; display: flex; justify-content: center; position: absolute; right: 0; top: -80px; z-index: 100;}
.newsTabs a{display: block; font-size: 22px; color: #FFF; width: 125px; line-height: 106px; height: 80px; overflow: hidden; font-weight: bold; text-align: center; background: url(../images/cover231114/newsTab_bg.png) no-repeat 0 -9999px;}
.newsTabs a:hover,.newsTabs a.on{background-position: 0 0; color: #f00;}