@charset "utf-8";
body{ margin:0; padding:0; font:normal 100% "Microsoft YaHei",\5b8b\4f53,Arial, Helvetica, sans-serif; -webkit-tap-highlight-color: rgba(0,0,0,0);}
div,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,select,textarea,table,td{ margin:0; padding:0;}
area{outline:none;}
img{ border:0; object-fit: cover; }
input{ -webkit-appearance: none; outline: none; border-radius: 0;}
input::-ms-clear{display:none;}
ol,ul{list-style:none;}
a{ text-decoration:none; outline:none; cursor: pointer; }
.cf:after {content:"";display:block;height:0;clear:both;} 
.cf {zoom:1;}
.fl{ float: left; }
.fr{ float: right; }
.pub_clr{clear:both;font-size:0;height:0;line-height:0;overflow:hidden;}
.auto{left: 50%; -webkit-transform:translate(-50%,0); -moz-transform:translate(-50%,0); -ms-transform:translate(-50%,0); -o-transform:translate(-50%,0); transform:translate(-50%,0);}
.box_justify{ display: -webkit-box; display: -moz-box; display: -o-box; display: -ms-box; -webkit-box-pack:justify; -moz-box-pack:justify; -o-box-pack:justify; -ms-box-pack:justify; box-pack:justify;}
/* 去除点击选项卡时出现的蓝色边框 */
/*.swiper-pagination .swiper-pagination-bullet:focus{ outline: none; }*/
/* 去除点击选项卡时出现的蓝色背景 */
/*.swiper-pagination-clickable .swiper-pagination-bullet{ cursor: auto; }*/
/*.swiper-slide *{ opacity: 0!important; }
.swiper-slide-active *{ opacity: 1!important; }*/
.swiper-pagination-bullet:focus,
.swiper-button-prev:focus,
.swiper-button-next:focus{ outline: none; }
.swiper-button-prev, .swiper-button-next{ position: absolute; top: 50%; width: 109px; height: 134px; margin-top: -67px; transition: all 0.5s; }
.swiper-button-prev{ left: 10px; background: url(../images/cover230301/prev.png) no-repeat 0 0; }
.swiper-button-prev:hover{ left: 0px; }
.swiper-button-next{ right: 10px; background: url(../images/cover230301/next.png) no-repeat 0 0; }
.swiper-button-next:hover{ right: 0px; }
.swiper-button-prev:after, .swiper-button-next:after{ display: none; }
body{ -webkit-text-size-adjust: 100%; background: #000; }

.wmgameFooter{ position: relative; z-index: 1; }

/*固定背景*/
.fixed_bg{ position: fixed; top: 0; left: 50%; transform: translate(-50%,0); width: 100%; height: 100%; z-index: 1; }
.fixed_bg div{ position: absolute; width: 854px; height: 817px; }
.fixed_bg div:nth-child(1){ top: -200px; left: -200px; }
.fixed_bg div:nth-child(2){ top: -200px; left: 300px; }
.fixed_bg div:nth-child(3){ top: -200px; left: 800px; }
.fixed_bg div:nth-child(4){ top: -200px; left: 1300px; }
.fixed_bg div:nth-child(5){ top: -200px; left: 1800px; }
.fixed_bg div:nth-child(6){ top: 300px; left: -200px; }
.fixed_bg div:nth-child(7){ top: 300px; left: 300px; }
.fixed_bg div:nth-child(8){ top: 300px; left: 800px; }
.fixed_bg div:nth-child(9){ top: 300px; left: 1300px; }
.fixed_bg div:nth-child(10){ top: 300px; left: 1800px; }
.fixed_bg div:nth-child(11){ top: 800px; left: -200px; }
.fixed_bg div:nth-child(12){ top: 800px; left: 300px; }
.fixed_bg div:nth-child(13){ top: 800px; left: 800px; }
.fixed_bg div:nth-child(14){ top: 800px; left: 1300px; }
.fixed_bg div:nth-child(15){ top: 800px; left: 1800px; }
.fixed_bg p{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(../images/cover230301/wrap_star.png) no-repeat 0 0; background-size: 100% auto; transform: scale(0,0); animation: enlarge 12s ease-in infinite; }
.fixed_bg p:nth-child(1){ animation-delay: -0s; z-index: 1; }
.fixed_bg p:nth-child(2){ animation-delay: -2s; z-index: 2; }
.fixed_bg p:nth-child(3){ animation-delay: -4s; z-index: 3; }
.fixed_bg p:nth-child(4){ animation-delay: -6s; z-index: 4; }
.fixed_bg p:nth-child(5){ animation-delay: -8s; z-index: 5; }
.fixed_bg p:nth-child(6){ animation-delay: -10s; z-index: 6; }
.fixed_bg p:nth-child(7){ animation-delay: -12s; z-index: 7; }
@keyframes enlarge{
	0%{ opacity: 1; transform: scale(0,0); z-index: 7; }
	90%{ opacity: 1; }
	100%{ opacity: 0; transform: scale(1,1); z-index: 1; }
}
.fixed_bg video{ width: 100%; height: 100%; object-fit: cover; }

/*导航头*/
.fixed_top{ position: absolute; top: 0; left: 0; width: 100%; height: 132px; background: url(../images/cover230301/fixed_top.png) no-repeat center top; z-index: 8; }
.fixed_top_cont{ position: relative; width: 1300px; margin: 0 auto; }
.logo{ position: absolute; top: 40px; left: 80px; }
.top_nav{ position: absolute; }
.top_nav span{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 2; transition: all 0.6s; }
.top_nav:after{ content: ""; position: absolute; bottom: 168px; left: 100px; width: 211px; height: 168px; background: url(../images/cover230301/top_nav_on.png) no-repeat 0 0; z-index: 1; transition: all 0.6s; }
.top_nav.n1{ top: 18px; left: 359px; width: 151px; height: 96px; }
.top_nav.n1 span{ background: url(../images/cover230301/top_n1.png) no-repeat center center; }
.top_nav.n2{ top: 32px; left: 502px; width: 154px; height: 101px; }
.top_nav.n2 span{ background: url(../images/cover230301/top_n2.png) no-repeat center center; }
.top_nav.n3{ top: 15px; left: 645px; width: 151px; height: 97px; }
.top_nav.n3 span{ background: url(../images/cover230301/top_n3.png) no-repeat center center; }
.top_nav.n4{ top: 20px; left: 785px; width: 164px; height: 100px; }
.top_nav.n4 span{ background: url(../images/cover230301/top_n4.png) no-repeat center center; }
.top_nav.n5{ top: 25px; left: 938px; width: 154px; height: 102px; }
.top_nav.n5 span{ background: url(../images/cover230301/top_n5.png) no-repeat center center; }
.top_nav:hover:after, .top_nav.on:after{ bottom: -15px; left: 0; }
.top_nav:hover span, .top_nav.on span{ transform: rotate(5deg); }
.top_menu{ position: absolute; top: 56px; right: 79px; display: flex; justify-content: space-between; width: 125px; z-index: 1; }
.top_menu2{ right: 124px; width: 80px; }
.menu_switch{ position: relative; cursor: pointer; transition: transform 0.4s; }
.menu_login{ width: 36px; height: 41px; background: url(../images/cover230301/menu_login.png) no-repeat 0 0; }
.menu_share{ width: 37px; height: 38px; background: url(../images/cover230301/menu_share.png) no-repeat 0 0; }
.menu_music{ width: 37px; height: 38px; background: url(../images/cover230301/menu_music.png) no-repeat 0 0; transition: transform 0.4s; }
.menu_switch:hover, .menu_music:hover{ transform: scale(1.1); }
.menu_music.off{ background-position: 0 -38px; }
.menu_open{ position: absolute; top: 20px; left: 50%; transform: translate(-50%,0); display: none; }
.menu_cont{ position: relative; margin-top: 30px; background: #000; border-radius: 5px; padding: 10px 6px; box-sizing: border-box; }
.menu_cont:after{ content: ""; position: absolute; top: -7px; left: 50%; transform: translate(-50%,0) rotate(45deg); width: 15px; height: 15px; background: #000; }
.menu_login_cont{ width: 160px; font-size: 14px; }
.menu_login_cont p{ margin-bottom: 10px; text-align: center; color: #FFF; }
.menu_login_cont a{ display: block; margin: 0 auto; width: 63px; height: 22px; line-height: 22px; border-radius: 11px; text-align: center; background: #F00; color: #000; }
.menu_share_cont{ width: 140px; }
.follow_us a{ position: relative; display: inline-block; width: 44px; height: 44px; opacity: 0.7; }
.menu_share_cont a{ margin: 0 8px; }
.follow_us .code{ position: absolute; left: 50%; transform: translate(-50%,0); width: 140px; height: 160px; z-index: 1; display: none; }
.follow_us .code_right{ width: 160px; height: 140px; }
.menu_share_cont .code{ top: 40px; }
.menu_share_cont .code_right{ top: 50%; left: 40px; transform: translate(0,-50%); }
.follow_us .code div{ position: relative; width: 100%; height: 140px; background: #FFF; border-radius: 5px; display: flex; justify-content: center; align-items: center; }
.menu_share_cont .code div{ margin-top: 20px;}
.menu_share_cont .code_right div{ margin-top: 0; margin-left: 20px; width: 140px; height: 100%; }
.follow_us .code div:before{ content: ""; position: absolute; left: 50%; transform: translate(-50%,0) rotate(45deg); width: 15px; height: 15px; background: #FFF; }
.menu_share_cont .code div:before{ top: -7px; }
.menu_share_cont .code_right div:before{ top: 50%; left: -7px; transform: translate(0,-50%) rotate(45deg); }
.follow_us .code div img{ max-width: 120px; max-height: 120px; }
.follow_us a:hover{ opacity: 1; }
.follow_us a:hover .code{ display: block; }
.followUs_wechat{ background: url(../images/cover230301/followUs_wechat.png) no-repeat 0 0; }
.followUs_qq{ background: url(../images/cover230301/followUs_qq.png) no-repeat 0 0; }
.followUs_sina{ background: url(../images/cover230301/followUs_sina.png) no-repeat 0 0; }
.followUs_tieba{ background: url(../images/cover230301/followUs_tieba.png) no-repeat 0 0; }
.followUs_douliu{ background: url(../images/cover230301/followUs_douliu.png) no-repeat 0 0; }
.followUs_bili{ background: url(../images/cover230301/followUs_bili.png) no-repeat 0 0; }
.followUs_tap{ background: url(../images/cover230301/followUs_tap.png) no-repeat 0 0; }
.followUs_kefu{ background: url(../images/cover230808/followUs_kefu.png) no-repeat 0 0; }
.followUs_3839{ background: url(../images/cover230831/followUs_3839.png) no-repeat 0 0; }
.menu_switch:hover .menu_open{ display: block; }

.go_top{ position: fixed; bottom: 0; left: 50%; margin-left: 600px; width: 132px; height: 132px; background: url(../images/cover230301/go_top.png) no-repeat 0 0; z-index: 2; display: none; }

/*弹出框：预约*/
.pop{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.8); z-index: 10; display: none; }
.pop_cont{ position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); }
.pop_close{ position: absolute; width: 76px; height: 76px; background: url(../images/cover230301/pop_close.png) no-repeat 0 0; z-index: 1; }
.pop_yy_cont{ width: 897px; height: 766px; background: url(../images/cover230301/pop_yy_cont.png) no-repeat 0 0; }
.pop_yy_cont .pop_close{ top: 18px; right: 35px; }
.pop_yy_state{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: none; }
	/*未 预约/登录*/
	.yy_state1_tit{ position: absolute; top: 65px; left: 61px; }
	.yy_form{ position: absolute; top: 224px; left: 64px; width: 380px; height: 190px; display: flex; flex-wrap: wrap; justify-content: space-between; }
	.yy_row{ width: 100%; height: 52px; border-radius: 5px; background: #FFF; display: flex; justify-content: space-between; align-items: center; }
	.tel_area, .tel_num{ height: 33px; border: none; box-sizing: border-box; font-size: 18px; }
	.tel_area{ width: 127px; padding: 0 10px; outline: none; display: none; }
	.tel_num{ /*width: 240px; border-left: 2px solid #d9d9d9;*/ width: 100%; text-align: center; }
	#yy_verify{ width: 100%; height: 43px; }
	#wanmeiCaptcha_0{ max-width: none!important; border: none!important; }
	#wanmeiCaptcha_0 p{ font-size: 18px!important; }
	.telCode_input{ height: 33px; border: none; border-right: 2px solid #d9d9d9; font-size: 18px; width: 207px; text-align: center; }
	.telCode_get{ width: 170px; height: 33px; line-height: 33px; text-align: center; font-size: 18px; }
	.yy_submit{ position: absolute; top: 504px; left: 65px; width: 380px; height: 100px; background: url(../images/cover230301/yy_submit.png) no-repeat 0 0; }
	.yy_submit_tip{ position: absolute; top: 630px; left: 30px; width: 440px; text-align: center; font-size: 16px; color: #606060; }
	/*提交/修改 测试信息*/
	.yy_state2_tit{ position: absolute; top: 65px; left: 59px; width: 242px; height: 81px; background: url(../images/cover230301/yy_state2_tit.png) no-repeat 0 0; }
	.yy_state2_tit.on{ background-position: 0 -81px; }
	.no_ios_tip{ position: absolute; top: 210px; left: 64px; width: 380px; text-align: center; padding-bottom: 30px; background: url(../images/cover230301/no_ios_tip.png) no-repeat center bottom; font-size: 16px; color: #FFF; }
	.sel_type{ position: absolute; top: 240px; left: 75px; width: 357px; }
	.sel_type dt{ margin-bottom: 30px; text-align: center; font-size: 30px; color: #FFF; }
	.sel_type dd{ display: flex; flex-wrap: wrap; justify-content: space-between; }
	.sel_type dd a{ position: relative; margin-bottom: 32px; width: 162px; height: 40px; line-height: 40px; border-radius: 22px; text-align: center; border: 4px solid #FFF; font-size: 30px; color: #FFF; }
	.sel_type dd a.on{ border-color: #F00; color: #F00; text-indent: 15px; }
	.sel_type dd a.on:after{ content: ""; position: absolute; top: 50%; left: 10px; transform: translate(0,-50%); width: 16px; height: 16px; border-radius: 8px; overflow: hidden; background: #F00; }
	.sel_type_submit{ position: absolute; top: 490px; left: 143px; width: 222px; height: 46px; line-height: 46px; text-align: center; border-radius: 23px; background: #FFF; font-size: 24px; color: #000; }
	/*预约成功*/
	.yy_state3_tit{ position: absolute; top: 114px; left: 107px; }
	.state3_qa_tip{ position: absolute; top: 246px; left: 30px; width: 450px; text-align: center; font-size: 16px; color: #FFF; }
	.state3_qa_btn{ position: absolute; top: 314px; left: 65px; width: 380px; height: 100px; background: url(../images/cover230301/state3_qa_btn.png) no-repeat 0 0; }
	.state3_qa_btn.on{ background-position: 0 -100px; cursor: default; }
	.qualification_btn{ position: absolute; top: 400px; left: 143px; width: 222px; height: 46px; line-height: 46px; text-align: center; border-radius: 23px; background: #FFF; font-size: 24px; color: #000; }
	.change_sel_btn{ position: absolute; top: 460px; left: 143px; width: 222px; height: 46px; line-height: 46px; text-align: center; border-radius: 23px; background: #FFF; font-size: 24px; color: #000; }
	.follow_us_tit{ position: absolute; top: 580px; left: 50px; width: 400px; height: 24px; line-height: 24px; text-align: center; background: url(../images/cover230301/follow_us.png) no-repeat center center; font-size: 16px; color: #FFF; }
	.follow_us_channel{ position: absolute; top: 628px; left: 50px; width: 400px; display: flex; justify-content: space-between; align-items: center; }
	.follow_us_channel .code{ bottom: 40px; }
	.follow_us_channel .code div:before{ bottom: -7px; }






























