@font-face {
    font-family: "Gotham-light";
    src: url("./Gotham-Light.otf");
}

@font-face {
    font-family: "Genshin";
    src: url("./zh-cn.ttf");
}



main {
    background: #fff;
    z-index: 999;
    margin:0;
    padding:0;
}



a:-webkit-any-link {
    cursor: pointer;
}

html {
    -webkit-text-size-adjust: 100%/* 2 */;
    font-family: Gotham-light, sans-serif;
}

html *{
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 10vh;
    display: flex;
    background-color: #EAEAEA;
    font-size: 150%;
}

#nd{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
    width: calc(100% - 210px);
    margin-left: 5%;
}

#navP{
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

#navP a{
    margin-left: 10%;
    color: #231815;
    font-weight: bold;
    text-decoration: none;
}

@media screen and (max-width: 1280px){
    .header {
        background-size: 28.83% auto;
        padding: 0.94% 0;
    }
    .header .nav--link {
        margin: 0 0 0 4.28%;
    }
}

body{
    margin:0;
    padding:0;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.sideFade{
    margin-left: 10%;
    margin-top: 3%;
}

.side{
    opacity: 0;
    transition: all 0.5s ease;
    color: white;
    font-size: 600%;
    display: inline-block;
    transform: translateX(-50px);
}

.side.fade{
    opacity: 1;
    transform: translateY(0px);
}

section{
    background-color: black;
}

#pres{
    background: black url(./bg_rally.svg) no-repeat fixed center top;
    background-size: cover;
    padding: 9.6666666667rem 0;
}

.slideFromBottom{
    margin-left: 10.5%;
}

.bot{
    opacity: 0;
    transition: all 0.25s ease;
    color: white;
    font-size: 200%;
    display: inline-block;
    transform: translateY(50px);
}

.bot.fade{
    opacity: 1;
    transform: translateY(0px);
}

#bout{
    background: black url(./bg_radio.svg) no-repeat fixed center top;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
}

#spanTitleAbout{
    background: black url(./bg_plan.svg) no-repeat fixed center top;
    background-size: cover;
}

#bout span{
    color: white;
    font-size: 800%;
    margin-top: 0;
    width: 300%;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    max-width: 100%;
}

#bout{
    background: black url(bg_bout.svg) no-repeat fixed center top;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-width: 30rem;
    min-height: 70rem;
    position: relative;
    z-index: -5;
}

#about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#field{
    min-width: 10%;
    max-width: 50%;
    margin-top: 0;
    position: absolute;
    z-index: -5;
}


#titleAbout {
    color: white;
    background-image: url("./bg_buttonAbout.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 8%;
    font-size: 200%;
    text-align: center;
    margin-left: 25%;
    padding-top: 0.8%;
    transform: translateY(110%);
}

#paragraphAbout{
    margin-left: 20%;
    height: 25rem;
    font-size: larger;
    overflow:auto;
}

#ab li{
    width: max-content;
}

#ab{
    margin-left: 15%;
}

#about .buttons{
    margin-top: 15%;
    margin-right: 20%;
    margin-left: 15%;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

#about .buttons button{
    background: linear-gradient(to right, #0d1e80, #5bc2ff);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 12px;
    width: 14.8666666667rem;
    height: 4.9111111111rem;
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 15%;
}

#about .buttons button:hover{
    background: linear-gradient(to right, #0d1e80, #5bc2ff);
    opacity: 0.8;
}

#spanTitleProject{
    background: black url(./bg_plan2.svg) no-repeat fixed center top;
    background-size: cover;
}

#projet{
    background: #232323 url(./bg_rally2.svg) no-repeat fixed center top;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 70rem;
    z-index: -5;
}
#projet span{
    color: white;
    font-size: 800%;
    margin-top: 0;
    width: 300%;
    text-align: center;
    position: relative;
    padding-top: 2%;
    padding-bottom: 2%;
    max-width: 100%;
}

#projectContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 7%;
}

.fleche{
    width: 109px;
    height: 134px;
    align-self: center;
    margin-top: 20%;

}

#cont{
    position: absolute;
    z-index: 0;

}

#tb{
    position: absolute;
    left: 70px;
    width: 884px;
    height: 204px;
    margin-top: 400px;
}

#textbox{
    position: absolute;
    z-index: 0;
}

dl{
    margin-left: 10%;
    position: absolute;
    z-index: 1;
}

#tb dt {
    color: white;
    font-size: 200%;
    font-weight: bold;
    margin-top: 0;
    width: 300%;
    padding-top: 2%;
    padding-bottom: 2%;
    max-width: 780px;
    align-self: center;
}

#more{
    margin-left:95%;
    margin-top: 21%;
    animation-iteration-count: infinite;
    animation-name: pulse;
    animation-duration: 1s;
    animation-fill-mode: both;
}

#more:hover{
    cursor: pointer;
}

@keyframes pulse {
    0% {
        transform: scale3d(1,1,1);
    }
    50% {
        transform: scale3d(1.05,1.05,1.05);
    }
    100% {
        transform: scale3d(1,1,1);
    }
}

#ex{
    position: absolute;
    z-index: 3;
    left: 85%;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-name: shake;
    animation-fill-mode: both;
    top: -20%;
}

.fleche:hover{
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-name: shake;
    animation-fill-mode: both;
    cursor: pointer;
}

@keyframes shake {
    0%,100% {
        transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translate3d(-10px,0,0);
    }
    20%, 40%, 60%, 80% {
        transform: translate3d(10px,0,0);
    }
}

#im\&desc{
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
    left: 15%;
}

#frame{
    width: 42rem;
    height: 24.5rem;
    position: absolute;
    margin-top: 23px;
    left: 24rem;
    z-index: 2;
}

#cont\&im{
    margin-bottom: 37rem;
}

#proj{
    width: 41rem;
    height: 23rem;
    position: absolute;
    left: 24.5rem;
    margin-top: 39px;
    z-index: 2;

}

#textMore{
    color: white;
    font-size: 20px;
    width: 40rem;
    height: 22rem;
    position: absolute;
    left: 24.5rem;
    margin-top: 39px;
    z-index: 2;
}

#spanTitleSkills{
    background: #ff5959 url(./bg_plan3.svg) no-repeat fixed center top;
    background-size: cover;
}

#skills{
    background: #fdc2c2 url(./bg_rally3.svg) no-repeat fixed center top;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 70rem;
    z-index: -5;
}

#skills span{
    color: white;
    font-size: 800%;
    margin-top: 0;
    width: 300%;
    text-align: center;
    position: relative;
    padding-top: 2%;
    padding-bottom: 2%;
    max-width: 100%;
}

#skillContainer{
    display: flex;
    margin-top: 10%;
    margin-left: 9% ;
}

#toolCont{
    width: 75.5rem;
    height: auto;
    position: absolute;
}

#toolHighlight{
    width: 322px;
    height: 91px;
    text-align: center;
    position: absolute;
    margin-left: 8rem;
    margin-top: 2rem;
}

#tool1{
    height: 70px;
    width: 322px;
    color: white;
    font-size: 200%;
    text-align: center;
    position: absolute;
    margin-left: 8rem;
    margin-top: 4rem;
}

#tool2{
    height: 70px;
    width: 322px;
    font-size: 200%;
    text-align: center;
    position: absolute;
    margin-left: 27.5rem;
    margin-top: 4rem;
}

#tool3{
    height: 70px;
    width: 322px;
    font-size: 200%;
    text-align: center;
    position: absolute;
    margin-left: 47rem;
    margin-top: 4rem;
}

#tool1:hover{
    cursor: pointer;
}

#tool2:hover{
    cursor: pointer;
}

#tool3:hover{
    cursor: pointer;
}

#itemGrid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 80px;
    grid-auto-rows: minmax(100px, auto);
    position: absolute;
    z-index: 999;
    margin-left: 15%;
    margin-top: 10rem;
}

@media screen and (min-width: 1660px){
    #skillContainer{

        margin-left: 18%;
    }
    #itemGrid{
        margin-left: 12%;
    }

    input[type="button"]{
        margin-left: 15rem;
    }
}

.languages{
    width: 125px;
    height: 125px;
}

footer{
    min-height: 450px;
    background-color: #EAEAEA;
    font-size: 150%;
}

.title{
    font-family: Genshin, sans-serif;
    font-weight: lighter;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-left: 10rem;
}

input{
    width: 60%;
    height: 30px;
    margin-bottom: 20px;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    padding-left: 10px;
}

label{
    font-size: 80%;
    margin-bottom: 10px;
}

input[type="button"]{
    width: 30%;
    height: 40px;
    background-color: #ff5959;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 80%;
    cursor: pointer;
    margin-left: 6rem;
}

h1.title{
    text-align: center;
}

#inf{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#inf a{
    font-size: 80%;
    margin-right: 15rem;
    width: fit-content;
    margin-top: 10px;
    height: fit-content;
}

.linksclass{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5rem;
}

.linksclass>img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-top: 5px;
}

a:visited{
    color: black;
    text-decoration: none;
}

a:link{
    color: black;
    text-decoration: none;
}

#mess{
    height: 100px;
}

textarea{
    width: 60%;
    height: 100px;
    margin-bottom: 20px;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    padding-left: 10px;
}